<!doctype html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - הבלוג הטכני</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <div id="backMain">
        <br>
        <nav class="p">
            <a class="inLine" asp-controller="Home" asp-action="Index">בית</a>
            <a class="inLine" asp-controller="Home" asp-action="About">אודות</a>
            
            @if (TempData["user"] != null)
            { 
            <a class="inLine notinverysmall" asp-controller="Posts" asp-action="Create">פוסט חדש</a>
            }
            <a class="inLine toleft end" asp-controller="Messages" asp-action="Create">צור קשר</a>
        </nav>
        <div class="menu notinverysmall">
            <div class="p">
                    <div class="searchBox">
                    @using (@Html.BeginForm())
                    {
                        @Html.TextBox("search")
                        <input class="searchBox" type="submit" value="חיפוש" asp-controller="Posts" asp-action="Search" name="searcher" />
                        @*<input class="searchBox" type="submit" value="פוסטים ישנים" asp-controller="Posts" asp-action="OldPost" name="OldPost" />
                        <input class="searchBox" type="submit" value="פוסטים  חדשים" asp-controller="Posts" asp-action="OldPost" name="OldPost" />*@
                    }
                </div>
            </div>
        </div>
        <div class=line></div>
        <div id="main" class="p">
            @RenderBody()
        </div>
        <footer class="searchBox">
            <div class="menu notinverysmall">

                @if (TempData["user"] == null)
                {

                   
                    <a class="searchBox notinverysmall" asp-controller="Users" asp-action="Login" class="notinverysmall">התחבר</a>
                }
                else
                {
                    <a class="searchBox notinverysmall" asp-controller="Users" asp-action="LogOut" class="notinverysmall">התנתק</a>
                }
                </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>