@model IEnumerable<BlogVer2.Post>
@{ ViewData["Title"] = "דף בית";} 
@{ if (Model.Count<Post>() > 0)
    {

        Post item = Model.Last<Post>();// ElementAt<Post>(Model.Count<Post>() - 1);
    <div class="p">
        <h1>הבלוג הטכני</h1>
        <article>
            <h2>@item.Title</h2>
            <p>@Html.Raw(item.BodyText)</p>
        
        <br />
        <hr>
        <h3>פוסטים ישנים יותר</h3>
        <hr>
        

            <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel" style="height:100px; background-color:rgb(96, 57, 19)">
                <ol class="carousel-indicators">
                    @for (int i = 1; i < Model.Count(); i++)
                    {
                        @if (i == 1)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }

                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 1; i < Model.Count(); i++)
                    {
                        @if (i == 1)
                        {
                            <!-- change this item  לשנות את האלמנט הזה-->
                            <div class="carousel-item active">
                                <div class="carousel-caption d-none d-md-block" style="position:static">
                                    <a style="color:white" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.ElementAt(Model.Count()-1-i).Id">@Model.ElementAt(Model.Count()-1-i).Title</a>
                                    @*<p style="overflow:hidden">@Html.Raw(Model.ElementAt(i).BodyText)</p>*@
                                </div>
                            </div>
                        }
                        else
                        {
                            <!--עכשיו בתגית A אתה יכול לעבור זה לינק-->
                            <div class="carousel-item">
                                <div class="carousel-caption d-none d-md-block" style="position:static">
                                    <a  style="color:white" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.ElementAt(Model.Count()-1-i).Id">@Model.ElementAt(Model.Count()-1-i).Title</a>
                                    @*@<p style="overflow:hidden">@Html.Raw(Model.ElementAt(i).BodyText)</p>*@
                                </div>
                            </div>
                        }

                    }



                </div>
                <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev" style="color:black">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">הקודם</span>
                </a>
                <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next" style="color:black">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">הבא</span>
                </a>
            </div>


        </article>

    </div>

        }
    }

