@model IEnumerable<BlogVer2.Post>
@{
    ViewData["Title"] = "דף בית";
}
@{
    if (Model.Count<Post>() > 0)
    {

        Post item = Model.ElementAt<Post>(Model.Count<Post>() - 1);
        <div class="p">
            <h1>הבלוג הטכני</h1>
            <h2>@item.Title</h2>
            <article>
                <p>@Html.Raw(item.BodyText)</p>
            </article>
            <hr>
            @*///////*@
            <!--<article>
                @foreach (var m in Model)
                {
                    <h2>@item.Title</h2>
                    <p>@Html.Raw(m.BodyText)</p>
                    <hr>
                    <span>פוסטים ישנים יותר:</span><br>
                    <h3>
                        @Html.DisplayFor(modelItem => m.Title)
                    </h3>
                    @Html.Raw(item.BodyText)
                    <br>
                }
            </article>-->
            @*///////*@
        </div>
    }
}

