

@model IEnumerable<BlogVer2.Post>

@{
    ViewData["Title"] = "ישנים  פוסטים ";
}

<h1>פוסטים קיימים</h1>
<article>
    @foreach (var item in Model)
    {
        <hr>
        @Html.DisplayFor(modelItem => item.PublishDate)
        <html>
        |
    </html>
    <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a>
    <html>
    |
</html>

<a asp-action="Details" asp-route-id="@item.Id">ראה פרטים</a>
<html>
 |
</html>
<a asp-action="Delete" asp-route-id="@item.Id">מחק </a><hr>
<h3>
    @Html.DisplayFor(modelItem => item.Title)
</h3>

@Html.Raw(item.BodyText)

<br>
}
</article>


